.doctor-extra-infor-cotainer{
    padding-left: 20px;
    position: relative;
    .content-up{
        margin-bottom: 5px;
        .text-address{
            //text-transform: uppercase;
            font-weight: 600;
            color: #333;
        }
        .name-clinic{
            padding: 5px 0;
           // font-weight: 600;
            color: #333;
            i{
                padding-left: 9px;
                padding-right: 7px
            }
        }
        .detail-address{
            //font-weight: 600;
            color: #333;
            i{
                padding-left: 8px;
                padding-right: 5px
            }
        }
    }

    .content-down{
       
        .short-infor{
            i{
                padding-left: 12px;
                padding-right: 7px
            }
            span{
                cursor: pointer;
                color: rgb(38,160,231);
            }
            .currency{
                margin: 0 5px;
            }
        }
        .title-price{
            font-weight: 600;
            margin-bottom: 5px;
            
        }
        .detail-infor{
            border: 1px solid #ddd;
            padding: 5px;
            background-color: #f8f8f8;
            .price{
                padding-bottom: 5px;
                .right{
                    float: right;
                }
            }
            .note{}
        }
        .payment{
            border: 1px solid #ddd;
            padding: 5px;
            background-color: #eee;
        }
        .hide-price{
            margin-top: 10px;

            span{
                cursor: pointer;
                color: rgb(38,160,231);
            }
        }
    }
}